.container {
    /* width: 60%; */
    flex-basis: 60%;
}

.svgContainer {
    max-width: 100%;
    height: auto;
    color: #98a2b3;
    /* overflow: visible; */
    flex-basis: 60%;
    background-color: #2e3033;
    border: 1px solid #475467;
    border-radius: 8px;
    padding: 16px;
}

.title {
    font-size: 16px;
    fill: #d0d5dd;
}

/* .tooltip {
    fill: #ffffff;
    color: red;
    font-family: Georgia;
    font-size: 150%;
    position: absolute;
} */


/* .dot {
    fill: #a363ff;
} */
