.container {
    background-color: black;
    width: 100%;
    padding: 16px;
}

.chartContainer {
    display: flex;
    gap: 16px;
    width: 100%;
    margin-bottom: 16px;
}

.twoChartContainer {
    display: flex;
    gap: 16px;
    width: calc(100% - 48px);
}
