.container {
    background-color: black;
    width: 100vw;
    /* padding: 16px; */
}

.chartContainer {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

/* .doubleChart {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 16px;
    margin-top: 16px;
} */