.container {
    background-color: #2e3033;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    flex-basis: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #d0d5dd;
    line-height: 30px;
}

.legendContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend {
    display: flex;
    align-items: center;
    gap: 4px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.label {
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    font-weight: 500;
}

.svgContainer {
    color: #98a2b3;
}
