.container {
    background-color: #2e3033;
    border: 1px solid #475467;
    border-radius: 8px;
    padding: 24px;
    /* width: 100%; */
}

.title {
    font-size: 16px;
    line-height: 24px;
    color: #d0d5dd;
    font-weight: 600;
}
