.container {
    flex-basis: 25%;
    /* padding: 16px; */
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.title {
    color: #D0D5DD;
}

.arrowIcon {
    width: 20px;
    height: 20px;
}

.growthContainer

.growth {
    color: #00FF9E;
    font-size: 14px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;
}

.stats {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.path {
    fill: rgba(0, 255, 158, 0.05);
}