@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

.chart-area {
    background-color: wheat;
    height: 50vh;
    width: calc(100% - 90px)
}

.chart-line {
    stroke-width: 2;
    stroke: #48bb78;
    fill: none;
}
