.container {
    background-color: black;
    width: 100%;
    padding: 16px;
}

.chartContainer {
    display: flex;
    gap: 16px;
    /* margin: 16px 0;  */
    width: calc(100% - 48px);
    color: #383a3d;
}

.heatMapContainer {
    display: flex;
    margin-bottom: 16px;
}

.bargraphContainer {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
